{% extends "base.html" %}
{% block title %}Elite Yoga!{% endblock %}

{% block content%}

<h1>Add a Class!</h1>

<form action="{{url_for('addclass')}}" method="POST" name="addclass">

    <div class="mb-3">
        <legend>Date: </legend>
        <input class="form control" type="text" id="extinct" name="extinct">
        <label class="form-label" for="extinct">Date: </label>
    </div>

    <button type='submit' value="submit"> submit </button>
    <button type='reset' value="Reset"> Reset </button>
</form>

{% endblock %}